data
.vscode
model
*__pycache__*
vision_task/data
vision_task/model*/
vision_task/outputs
copy_task/data
copy_task/model
copy_task/outputs
addition_task/data
addition_task/model
addition_task/outputs
wandb/
*test.py
*.egg-info
*.zip
nfn-transformer
nfn_transformer/mnist_transformer
nfn_transformer/copy_transformer
nfn_transformer/sweep.yaml
*.png
nfn_transformer/dataset
